---
import i18n from "@/shared/i18n";
import "@/shared/styles/index.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	description: string;
	keywords: string;
}

const props = Astro.props;
---

<html lang={i18n.language} data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{props.title}</title>
		<meta name="author" content="Júlio Pattuzzo" />
		<meta name="description" content={props.description}/>
		<meta name="keywords" content={props.keywords}/>
		<meta name="robots" content="index, follow" />
		<meta name=og:title content={props.title}>
		<meta name="og:description" content={props.description}>
		<meta name=twitter:card content=summary>
		<meta name=twitter:title content={props.title}>
    <meta name="twitter:description" content={props.description}>
		<slot name="head" />
		<link rel="icon" href="/favicon.png"/>
		<ClientRouter />
	</head>
	<body
		class="flex flex-col gap-8 bg-fill-base"
	>
		<slot name="body"/>
	</body>
</html>
