---
import CardProject from "@/features/main/components/card/card-project.astro";
import Utilify from "@/features/main/assets/images/projects/utilify-banner.png";
import Indexeddb from "@/features/main/assets/images/projects/indexeddb-banner.png";
import NexonUtilis from "@/features/main/assets/images/projects/nexonutilis-banner.png";
import Futuresphere from "@/features/main/assets/images/projects/futuresphere-banner.png";
// import Nowted from "@/features/main/assets/images/projects/nowted-banner.png";
import i18n from "@/shared/i18n";

const t = i18n.t;
---

<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-items-center items-stretch gap-6">
  <CardProject
    banner={Indexeddb}
    title={t("home:projects.items.indexeddb.title")}
    description={t("home:projects.items.indexeddb.description")}
    techs={t("home:projects.items.indexeddb.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://www.npmjs.com/package/indexeddb-promisify"
    github="https://github.com/pattuzzoj/indexeddb-promisify"
  />
  <CardProject
    banner={Utilify}
    title={t("home:projects.items.utilify.title")}
    description={t("home:projects.items.utilify.description")}
    techs={t("home:projects.items.utilify.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://utilify.js.org/"
    github="https://github.com/pattuzzoj/utilify"
  />
  <CardProject
    banner={NexonUtilis}
    title={t("home:projects.items.nexon.title")}
    description={t("home:projects.items.nexon.description")}
    techs={t("home:projects.items.nexon.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://nexonutilis.vercel.app"
    github="https://github.com/pattuzzoj/nexonutilis"
  />
  <CardProject
    banner={Futuresphere}
    title={t("home:projects.items.futuresphere.title")}
    description={t("home:projects.items.futuresphere.description")}
    techs={t("home:projects.items.futuresphere.technologies", { returnObjects: true }) as unknown as string[]}
    live="https://futuresphere.vercel.app"
    github="https://github.com/pattuzzoj/futuresphere"
  />
  <!--
    <CardProject
      banner={Nowted}
      title="Nowted"
      description="Um aplicativo completo para anotações com integração backend, permitindo que os usuários criem e gerenciem suas notas."
      techs={["Solid.js", "Tailwind CSS", "IndexedDB", "Nest.js", "Node.js", "Drizzle ORM", "PostgreSQL"]}
      live="https://nowted.vercel.app"
      github="https://github.com/pattuzzoj/nowted"
    />
  -->
</div>